<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maozhua.mapper.VlogMapper">

    <resultMap id="BaseResultMap" type="com.maozhua.pojo.Vlog">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="vlogerId" column="vloger_id" jdbcType="VARCHAR"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="cover" column="cover" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="width" column="width" jdbcType="INTEGER"/>
            <result property="height" column="height" jdbcType="INTEGER"/>
            <result property="likeCounts" column="like_counts" jdbcType="INTEGER"/>
            <result property="commentsCounts" column="comments_counts" jdbcType="INTEGER"/>
            <result property="isPrivate" column="is_private" jdbcType="INTEGER"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
    </resultMap>


</mapper>
